<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" 
        action="{{ url_for('hash') }}" id="user-input" enctype="multipart/form-data">

        <div class="upload-photos">
            <h3>Upload 2 Photos</h3>
            <input type="file" name="photo1" accept="image/*" required>
            <input type="file" name="photo2" accept="image/*" required>
        </div>

        <div class="hash-type">
            <select name="hash_type" id="hash_type" required>
                <option value="" disabled selected>Select Hash Type</option>
                <option value="md5">MD5</option>
                <option value="sha1">SHA1</option>
                <option value="sha256">SHA256</option>
            </select>
        </div>

        <input type="submit" value="Submit" id="submit">
    </form>
</body>
</html>
